body {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 0, 82, 1) 0%, rgba(171, 0, 255, 1) 33%, rgba(31, 255, 0, 1) 100%);
    margin: 0;

}



.header-nav {
    background: #01ffd5;
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 45, 1) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
}


li {
    color: greenyellow
}

.q {
    color: rgb(52, 105, 54)
}

.font-big {
    font-size: 20px;
    font-style: italic;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    font-size: 18px;
}

.header-nav a:hover {
    background: #07ffff;
    color: #3c3c3c;
}

.header-logo {
    height: 30px;
    margin: auto 20px;
}

footer {
    background: #1f242b;
    color: #fff;
    padding: 15px 15px
}

.container {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

main {
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 35px 35px;
    border-radius: 15px;
    margin: 30px 0px;


}


/* Стили для блока в галереи */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.card {

    background: rgb(255, 0, 82);
    background: linear-gradient(90deg, rgba(255, 0, 82, 1) 0%, rgba(171, 0, 255, 1) 33%, rgba(31, 255, 0, 1) 100%);
    padding: 20px;
    row-gap: 20px;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 10px;
    transition: 0.3s;
}

.card:hover {
    margin: 0;
}

.card__image {
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card text {
    margin-top: 10px;
}

.content--half {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media only screen and (min-width: 575px) {
    .content--half {
        grid-template-columns: 1fr 2fr;
    }
}

.content--half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table {
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
}

.table tr:nth-child(odd) {
    background: linear-gradient(90deg, rgba(255, 0, 82, 1) 0%, rgba(171, 0, 255, 1) 33%, rgba(31, 255, 0, 1) 100%);
}

.table td {
    padding: 5px 15px;
}

.table td:first-child {
    font-weight: 700;
}

.form {
    width: 100%;
}

.form__item-title {
    font-size: 24px;
    font-weight: 700;
    color: #0f0e0e;
    margin-bottom: 10px;

}


.form input {
    font-style: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: 1px solid #c3c3c3;
}

.form__list{
display: grid;
gap: 10px;
}

.card_2{
    background: rgb(255, 0, 82);
    background: linear-gradient(90deg, rgba(255, 0, 82, 1) 0%, rgba(171, 0, 255, 1) 33%, rgba(31, 255, 0, 1) 100%);
    padding: 20px;
    row-gap: 20px;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 10px;
    transition: 0.3s;
}